body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 3px;
  display: flex;
  flex-flow: row nowrap; 
}

.subContainer{
  border: 3px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  outline-color: blue;
  outline-style: solid;
}

li{
  justify-content: space-between;
  flex-flow: row nowrap;
  outline-color: aqua;
  outline-style: double;
}

ul{
  justify-content: space-evenly;
  flex-flow: row nowrap;
  outline-color: rgb(0, 255, 21);
  outline-style: double;
}